
/*##########  costome bootstrap style  ###############*/
:root {

    --bs-body-bg:#f0f2f5;
    --bs-code-box-bg:#eaeaea;
    --bs-text-color:#61626b;
    --bs-accordion-bg:#f0f2f5  !important;
    --bs-accordion-btn-focus-border-color:#f5f0f0  !important;
    --bs-accordion-btn-focus-box-shadow:#f5f0f0  !important;
    --bs-scroll-shadow:#0000004f;
    --bs-list-group-bg: #141414 !important;
    --bs-sign-book-bg: #141414 !important;
    --bs-cust-text-color:#00158cc0 !important;
   
    --bs-blue: #63b0e8;
    --bs-indigo: #5a6dfa;
    --bs-purple: #7144c4;
    --bs-pink: #d63585;
    --bs-red: #f86666;
    --bs-orange: #fd7f18;
    --bs-yellow: #fdd48f;
    --bs-green: #80e3d6;
    --bs-teal: #1fd09b;
    --bs-cyan: #0fcbf0;
    --bs-white: #fff;
    --bs-gray: #6b737a;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f6f6f6;
    --bs-gray-200: #f0f2f5;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb6be;
    --bs-gray-600: #6e767e;
    --bs-gray-700: #4b5259;
    --bs-gray-800: #363c42;
    --bs-gray-900: #262b2f;
    --bs-primary: #e81f62;
    --bs-secondary: #72768a;
    --bs-success: #4eaf51;
    --bs-info: #1c75ea;
    --bs-warning: #fb8c06;
    --bs-danger: #f64438;
    --bs-light: #f0f2f5;
    --bs-dark: #354767;
    --bs-white: #fff;
    --bs-primary-rgb: 232, 30, 99;
    --bs-secondary-rgb: 122, 127, 153;
    --bs-success-rgb: 75, 174, 80;
    --bs-info-rgb: 26, 114, 231;
    --bs-warning-rgb: 251, 140, 0;
    --bs-danger-rgb: 243, 67, 52;
    --bs-light-rgb: 240, 242, 244;
    --bs-dark-rgb: 52, 71, 102;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: , 128, 153;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-size: 1rem;
    --bs-body-fw: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #6e7288;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.125rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 0.75rem;
    --bs-border-radius-2xl: 1rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #ee2266;
    --bs-link-hover-color: #ec2164;
    --bs-code-color: #d53485;
    --bs-highlight-bg: #fefae7;
}
.fs-5 {
    font-size: 1.15rem!important;
}
.w-1 {
    width: 1%;
}
.w-2 {
    width: 2%;
}
.w-3 {
    width: 3%;
}
.w-4 {
    width: 4%;
}
.w-5 {
    width: 5%;
}
.w-6 {
    width: 6%;
}
.w-7 {
    width: 7%;
}
.w-8 {
    width: 8%;
}
.w-9 {
    width: 9%;
}
.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}
.w-25 {
    width: 25%;
}
.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.w-45 {
    width: 45%;
}
.w-55 {
    width: 55%;
}
.w-60 {
    width: 60%;
}
.w-65 {
    width: 65%;
}
.w-70 {
    width: 70%;
}
.w-75 {
    width: 75%;
}
.w-80 {
    width: 80%;
}
.w-85 {
    width: 85%;
}
.w-90 {
    width: 90%;
}
.w-95 {
    width: 95%;
}
.mt-n1 {
    margin-top: -0.25rem !important;
}
.mt-n2 {
    margin-top: -0.5rem !important;
}
.mt-n3 {
    margin-top: -1rem !important;
}
.mt-n4 {
    margin-top: -1.5rem !important;
}
.mt-n5 {
    margin-top: -3rem !important;
}
.mt-n6 {
    margin-top: -4rem !important;
}
.mt-n7 {
    margin-top: -6rem !important;
}
.mt-n8 {
    margin-top: -8rem !important;
}
.mt-n10 {
    margin-top: -10rem !important;
}
.mt-n11 {
    margin-top: -12rem !important;
}
.mt-n12 {
    margin-top: -14rem !important;
}
.py-3 {
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem!important;
}
.py-4 {
    padding-top: 1.rem !important;
    padding-bottom: 1.rem!important;
}
.text-sm {
    font-size: 0.8rem !important;
}
.btn-info, .bg-gradient-info {
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
    box-shadow: 0 3px 3px 0 rgba(26, 115, 232, 0.15), 0 3px 1px -2px rgba(26, 115, 232, 0.2), 0 1px 5px 0 rgba(26, 115, 232, 0.15);
    color: white  !important;
}
.btn-info:hover, .bg-gradient-info:hover {
    box-shadow: 0 3px 3px 1px rgba(26, 115, 232, 0.5), 0 3px 1px -2px rgba(26, 115, 232, 0.7), 0 1px 5px 1px rgba(26, 115, 232, 0.5) !important;
}
.btn-secondary, .bg-gradient-secondary {
    background-image: linear-gradient(195deg, #6f73899c 0%, #6f7389 100%);
    box-shadow: 0 3px 3px 0 rgba(123, 128, 154, 0.15), 0 3px 1px -2px rgba(123, 128, 154, 0.2), 0 1px 5px 0 rgba(123, 128, 154, 0.15);
    color: white  !important;
}
.btn-secondary:hover, .bg-gradient-secondary:hover {
    box-shadow: 0 3px 3px 1px rgba(123, 128, 154, 0.5), 0 3px 1px -2px rgba(123, 128, 154, 0.7), 0 1px 5px 1px rgba(123, 128, 154, 0.5) !important;
}
.btn-danger, .bg-gradient-danger {
    background-image: linear-gradient(195deg, #EF5350 0%, #E53935 100%);
    box-shadow: 0 3px 2px rgba(244, 67, 53, 0.15), 0 3px 1px -2px rgba(244, 67, 53, 0.2), 0 1px 5px 0 rgba(244, 67, 53, 0.15);
    color: white  !important;
    }
    .btn-danger:hover, .bg-gradient-danger:hover {
    box-shadow: 0 3px 3px 1px rgba(244, 67, 53, 0.5), 0 3px 1px -2px rgba(244, 67, 53, 0.7), 0 1px 5px 1px rgba(244, 67, 53, 0.5) !important;
    }
    .btn-success, .bg-gradient-success {
    background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
    box-shadow: 0 3px 3px 0 rgba(76, 175, 80, 0.15), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.15);
    color: white  !important;
}
.btn-success:hover, .bg-gradient-success:hover {
    box-shadow: 0 3px 3px 1px rgba(76, 175, 80, 0.5), 0 3px 1px -2px rgba(76, 175, 80, 0.7), 0 1px 5px 1px rgba(76, 175, 80, 0.5) !important;
}
.btn-light, .bg-gradient-light {
    background-image: linear-gradient(195deg, #EBEFF4 0%, #CED4DA 100%);
    box-shadow: 0 3px 3px 0 rgba(240, 242, 245, 0.15), 0 3px 1px -2px rgba(240, 242, 245, 0.2), 0 1px 5px 0 rgba(240, 242, 245, 0.15);
    color: rgb(43, 43, 43)  !important;
}
.btn-light:hover, .bg-gradient-light:hover {
    box-shadow: 0 3px 3px 1px rgba(240, 242, 245, 0.5), 0 3px 1px -2px rgba(240, 242, 245, 0.7), 0 1px 5px 1px rgba(240, 242, 245, 0.5) !important;
}
.btn-warning, .bg-gradient-warning {
    background-image: linear-gradient(195deg, #FFA726 0%, #FB8C00 100%);
    box-shadow: 0 3px 3px 0 rgba(251, 140, 0, 0.15), 0 3px 1px -2px rgba(251, 140, 0, 0.2), 0 1px 5px 0 rgba(251, 140, 0, 0.15);
    color: white  !important;
}
.btn-warning:hover, .bg-gradient-warning:hover {
    box-shadow: 0 3px 3px 1px rgba(251, 140, 0, 0.5), 0 3px 1px -2px rgba(251, 140, 0, 0.7), 0 1px 5px 1px rgba(251, 140, 0, 0.5) !important;
}
.btn-primary, .bg-gradient-primary {
    background-image: linear-gradient(195deg, #ff6b9d  0%, #ee1e6a 100%);
    box-shadow: 0 3px 3px 0 rgba(233, 30, 99, 0.15), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.15);
    color: white  !important;
}
.btn-primary:hover, .bg-gradient-primary:hover {
    box-shadow: 0 3px 3px 1px rgba(233, 30, 99, 0.5), 0 3px 1px -2px rgba(233, 30, 99, 0.7), 0 1px 5px 1px rgba(233, 30, 99, 0.5) !important;
}
.btn-dark{
    background-color: #344767;
    border-color: #344767;
    box-shadow: 0 3px 3px 0 rgba(52, 71, 103, 0.15), 0 3px 1px -2px rgba(52, 71, 103, 0.2), 0 1px 5px 0 rgba(52, 71, 103, 0.15);
    color: white  !important;
}
.bg-gradient-dark {
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
    box-shadow: 0 3px 3px 0 rgba(52, 71, 103, 0.15), 0 3px 1px -2px rgba(52, 71, 103, 0.2), 0 1px 5px 0 rgba(52, 71, 103, 0.15);
}   
.btn-dark:hover, .bg-gradient-dark:hover {
    box-shadow: 0 3px 3px 1px rgba(52, 71, 103, 0.5), 0 3px 1px -2px rgba(52, 71, 103, 0.7), 0 1px 5px 1px rgba(52, 71, 103, 0.5) !important;
}
.btn ,.bg-gradient-danger ,.bg-gradient-info ,.bg-gradient-success ,.bg-gradient-warning
,.bg-gradient-primary ,.bg-gradient-dark,.bg-gradient-secondary{
    font-weight: bolder;
    border: 0;
    transition: all .4s;
}
.btn-outline-success {
    border: 2px solid var(--bs-btn-color);
    --bs-btn-color: #4CAF50;
    --bs-btn-border-color: #4CAF50;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #4CAF50;
    --bs-btn-hover-border-color: #4CAF50;
    --bs-btn-focus-shadow-rgb: 76, 175, 80;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #4CAF50;
    --bs-btn-active-border-color: #4CAF50;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #4CAF50;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4CAF50;
    --bs-gradient: none;
}
.btn-outline-primary {
    border: 2px solid var(--bs-btn-color);
    --bs-btn-color: #e91e63;
    --bs-btn-border-color: #e91e63;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #e91e63;
    --bs-btn-hover-border-color: #e91e63;
    --bs-btn-focus-shadow-rgb: 233, 30, 99;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #e91e63;
    --bs-btn-active-border-color: #e91e63;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #e91e63;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #e91e63;
    --bs-gradient: none;
}
.btn-outline-info {
    border: 2px solid var(--bs-btn-color);
    --bs-btn-color: #1A73E8;
    --bs-btn-border-color: #1A73E8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1A73E8;
    --bs-btn-hover-border-color: #1A73E8;
    --bs-btn-focus-shadow-rgb: 26, 115, 232;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1A73E8;
    --bs-btn-active-border-color: #1A73E8;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #1A73E8;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1A73E8;
    --bs-gradient: none;
}
.btn-outline-warning {
    border: 2px solid var(--bs-btn-color);
    --bs-btn-color: #fb8c00;
    --bs-btn-border-color: #fb8c00;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #fb8c00;
    --bs-btn-hover-border-color: #fb8c00;
    --bs-btn-focus-shadow-rgb: 251, 140, 0;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #fb8c00;
    --bs-btn-active-border-color: #fb8c00;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fb8c00;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fb8c00;
    --bs-gradient: none;
}
.btn-outline-danger {
    border: 2px solid var(--bs-btn-color);
    --bs-btn-color: #F44335;
    --bs-btn-border-color: #F44335;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #F44335;
    --bs-btn-hover-border-color: #F44335;
    --bs-btn-focus-shadow-rgb: 244, 67, 53;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #F44335;
    --bs-btn-active-border-color: #F44335;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #F44335;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #F44335;
    --bs-gradient: none;
}

.fw-bold{
    font-weight: 400;
}
/*##########  costome bootstrap style  ###############*/
