.impotantble { 
    width: 30px;
    min-width: 30px !important;
    height: 30px;
    display: inline-block;
    margin: 5px 15px;
  }
  .toDo-item {
    display: flex !important;
    justify-content: space-between;
    padding-top: .75rem;
  }
  .btn-group  {
    margin-right: 8px;
  }
  .btn-group button {
    height: 50px !important;
  }